@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Gemunu Libre', sans-serif;
    overflow-x: hidden;
    background-color: #051F2A;
}

.landing-div{
    width:100vw !important;
    height:99vh !important;
}

.heading-text{
    text-align: center;
    font-size: 40px;
    color: #fff ;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.video-player-parent-div{
    width: 100%;
    height: 630px;
    display:  flex;
    justify-content:center;
    align-items:center;
    position: relative;
}

.other-video-option-div{
    position:absolute !important;
    width: 60%;
    height: 30%;
    background-color:#051f2ad5;
    display: none;   
    justify-content:space-around;
    align-items:center;
    z-index: 1 !important;
    border-radius: 5px;
    animation: faded 0.2s ease-in-out;
}

@keyframes faded{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.video-opt{
    display: grid;
    place-items: center !important;
    width:fit-content!important;
    background-color:transparent !important;
    cursor: pointer !important;
    z-index: 1000 !important;
}

.play-icon{
    font-size:3rem !important;
    background-color:transparent !important;
    color:#fff !important;
}


.video-player-class{
    margin-top: 3rem !important;
    width: 65% !important;   
    z-index: 0 !important;
    border-radius: 5px;
}

.video-player-class:-webkit-full-screen{
    z-index: 0 !important;
}

@media (max-width: 768px){
    .video-player-parent-div{
        margin-top: 10rem;
        height: fit-content !important;
        display:  flex;
        justify-content:center;
        align-items:center;
    }
    .video-player-class{
        width: 90% !important;   
    }
    .other-video-option-div{
        height: 50% !important;
        width: 90%;
    }
}

@media (max-width: 500px){
    .video-player-parent-div{
        margin-top: 10rem;
        height: fit-content !important;
        display:  flex;
        justify-content:center;
        align-items:center;
    }
    .video-player-class{
        width: 98% !important;   
    }
    .other-video-option-div{
        height: 50% !important;
        width: 90%;

    }
}